.gm-style {
  .gm-style-iw-c { border-radius: 0; }
}

.wpgmza_markerbox {
  img { float: left !important; margin: 0 0 0 20px; width: 50%; height: 50%; }
  .wpgmza_infowindow_title,
  .wpgmza_infowindow_address { display: none; }
  .wpgmza_infowindow_description { font-size: 1.1em;
    strong { text-transform: uppercase; display: block; }
  }
}
